# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data (ignore contents, keep folder structure)
data/raw/**
data/processed/**
!data/raw/.gitkeep
!data/processed/.gitkeep